
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	border-left:5 pixels solid green;
	border-left-color:green;
	padding:10px;	
}
#heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}